USE [master]
GO
/****** Object:  Database [WPF_menu_rights]    Script Date: 04/12/2016 20:46:20 ******/
CREATE DATABASE [WPF_menu_rights] ON  PRIMARY 
( NAME = N'WPF_menu_rights', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WPF_menu_rights.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WPF_menu_rights_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WPF_menu_rights_log.ldf' , SIZE = 69760KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WPF_menu_rights].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WPF_menu_rights]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 04/12/2016 20:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[groupID] [int] NOT NULL,
	[emailAddress] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [unique_user_login] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] ON
INSERT [dbo].[tbl_Users] ([id], [login], [password], [groupID], [emailAddress]) VALUES (2, N'login', N'paswoord', 1, N'dennisbellinkx@gmail.com')
INSERT [dbo].[tbl_Users] ([id], [login], [password], [groupID], [emailAddress]) VALUES (8, N'logistiek', N'logistiek', 5, N'dennisbellinkx@gmail.com')
INSERT [dbo].[tbl_Users] ([id], [login], [password], [groupID], [emailAddress]) VALUES (11, N'tester', N'tester', 6, N'tester')
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
/****** Object:  Table [dbo].[tbl_UserGroups]    Script Date: 04/12/2016 20:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_UserGroups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_UserGroups] ON
INSERT [dbo].[tbl_UserGroups] ([id], [name]) VALUES (1, N'administrators')
INSERT [dbo].[tbl_UserGroups] ([id], [name]) VALUES (5, N'logistiek')
INSERT [dbo].[tbl_UserGroups] ([id], [name]) VALUES (6, N'testers')
SET IDENTITY_INSERT [dbo].[tbl_UserGroups] OFF
/****** Object:  Table [dbo].[tbl_UserGroupRights]    Script Date: 04/12/2016 20:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserGroupRights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupID] [int] NOT NULL,
	[menuItemID] [int] NOT NULL,
	[rights] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_UserGroupRights] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_UserGroupRights] ON
INSERT [dbo].[tbl_UserGroupRights] ([id], [groupID], [menuItemID], [rights]) VALUES (145988, 1, 19, N'111111111')
INSERT [dbo].[tbl_UserGroupRights] ([id], [groupID], [menuItemID], [rights]) VALUES (145989, 1, 20, N'111111111')
INSERT [dbo].[tbl_UserGroupRights] ([id], [groupID], [menuItemID], [rights]) VALUES (145990, 1, 21, N'111111111')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[tbl_UserGroupRights] OFF
/****** Object:  Table [dbo].[tbl_Settings]    Script Date: 04/12/2016 20:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MenuItems]    Script Date: 04/12/2016 20:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MenuItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentid] [int] NOT NULL,
	[text] [nvarchar](50) NOT NULL,
	[pagename] [nvarchar](50) NOT NULL,
	[orderNrInParent] [int] NOT NULL,
 CONSTRAINT [PK_tbl_MenuItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_MenuItems] ON
INSERT [dbo].[tbl_MenuItems] ([id], [parentid], [text], [pagename], [orderNrInParent]) VALUES (19, 0, N'admin section', N'welcome', 1000)
INSERT [dbo].[tbl_MenuItems] ([id], [parentid], [text], [pagename], [orderNrInParent]) VALUES (20, 19, N'add new user', N'addUser', 1)
INSERT [dbo].[tbl_MenuItems] ([id], [parentid], [text], [pagename], [orderNrInParent]) VALUES (21, 19, N'add new group', N'addGroup', 2)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[tbl_MenuItems] OFF
/****** Object:  StoredProcedure [dbo].[updateItemRightsForGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ====================================================
-- Author:		Dennis Bellinkx
-- Create date: 2016-03-02
-- Description:	Creates a right entry for a given group
-- ====================================================
create PROCEDURE [dbo].[updateItemRightsForGroup]
	@groupID int
  , @menuItemID int
  , @rights nvarchar(20)

AS
	update	tbl_UserGroupRights
	set		rights = @rights
	where	groupID = @groupID and menuItemID = @menuItemID
GO
/****** Object:  StoredProcedure [dbo].[restoreAdminRights]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[restoreAdminRights]
	@adminGroupID int
AS
BEGIN
	DELETE FROM dbo.tbl_UserGroupRights WHERE groupID = @adminGroupID;

	DECLARE @itemID int;
	DECLARE @allRights int;
	set @allRights = '111111111';

	DECLARE MY_CURSOR CURSOR 
	  LOCAL STATIC READ_ONLY FORWARD_ONLY
	FOR 
		SELECT ID FROM dbo.tbl_MenuItems

	OPEN MY_CURSOR
	FETCH NEXT FROM MY_CURSOR INTO @itemID
	WHILE @@FETCH_STATUS = 0
	BEGIN 
		INSERT INTO dbo.tbl_UserGroupRights (groupID, menuItemID, rights)
		VALUES (@adminGroupID, @itemID, @allRights);
		FETCH NEXT FROM MY_CURSOR INTO @itemID
	END
	CLOSE MY_CURSOR
	DEALLOCATE MY_CURSOR
END
GO
/****** Object:  StoredProcedure [dbo].[getUserGroups]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-17
-- Description:	gets all usergroups
-- =================================================
create PROCEDURE [dbo].[getUserGroups]
AS
	select	id, name		  
	from	tbl_UserGroups
GO
/****** Object:  StoredProcedure [dbo].[getUserGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-06
-- Description:	gets the name for a given group (ID)
-- =================================================
CREATE PROCEDURE [dbo].[getUserGroup] 
	@groupID int
AS
	select	name		  
	from	tbl_UserGroups
	where	id = @groupID
GO
/****** Object:  StoredProcedure [dbo].[getUser]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-06
-- Description:	get a user on login/password combo
-- =================================================
CREATE PROCEDURE [dbo].[getUser]
	@login		nvarchar(50)
  , @password	nvarchar(50)
AS
	select	id, emailAddress, groupID
	from	tbl_Users
	where	login = @login
		and password = @password
GO
/****** Object:  StoredProcedure [dbo].[getItemsForGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-06
-- Description:	gets items for given group (ID)
-- =============================================
CREATE PROCEDURE [dbo].[getItemsForGroup] 
	@groupID int
AS
	select		items.id as id
			  , items.parentid as parentID
			  , items.[text] as itemText
			  , items.pagename as pageName
			  , items.orderNrInParent as orderNrInParent
			  , ugr.rights as rights
	from		tbl_UserGroupRights as ugr join tbl_MenuItems as items
				on ugr.menuItemID = items.id
	where		ugr.groupID = @groupID
	order by	items.parentid asc, items.orderNrInParent asc
GO
/****** Object:  StoredProcedure [dbo].[getAllUsersForGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================
-- Author:		Dennis Bellinkx
-- Create date: 2016-04-04
-- Description:	gets all user for given groupId
-- =================================================
CREATE PROCEDURE [dbo].[getAllUsersForGroup]
	@groupID int
AS
	select	id, [login], emailAddress
	from	tbl_Users
	where	groupID = @groupID;
GO
/****** Object:  StoredProcedure [dbo].[getAllItems]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-12-01
-- Description:	gets all existing items
-- =============================================
CREATE PROCEDURE [dbo].[getAllItems] 
AS
	select		id as id
			  , parentid as parentID
			  , [text] as itemText
			  , pagename as pageName
			  , orderNrInParent as orderNrInParent
	from		tbl_MenuItems
	order by	[text] asc, id asc
GO
/****** Object:  StoredProcedure [dbo].[deleteAllRightsForGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================
-- Author:		Dennis Bellinkx
-- Create date: 2016-03-01
-- Description:	deletes all items for given group (ID)
-- ===================================================
create PROCEDURE [dbo].[deleteAllRightsForGroup] 
	@groupID int
AS
	delete		
	from		tbl_UserGroupRights
	where		groupID = @groupID
GO
/****** Object:  StoredProcedure [dbo].[createUserGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-17
-- Description:	Creates a new usergroup without rights
-- ===================================================
CREATE PROCEDURE [dbo].[createUserGroup]
	@groupname nvarchar(50)

AS
	insert into	tbl_UserGroups (name)
						values (@groupname);
						
	declare @newID int = SCOPE_IDENTITY();
	
	insert	into tbl_UserGroupRights (groupID, menuItemID, rights)
	select	@newID, id, '111010111'
	from	tbl_MenuItems;
	
	--update	tbl_UserGroupRights
	--set		rights = '10000'
	--where	menuItemID in (select	top(1) id
	--					   from		tbl_MenuItems
	--					   where	pagename = 'logout')
	--    and groupID = @newID;
GO
/****** Object:  StoredProcedure [dbo].[createUser]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-17
-- Description:	Creates a new user
-- =============================================
CREATE PROCEDURE [dbo].[createUser]
	@login nvarchar(50)
  , @password nvarchar(50)
  , @email nvarchar(50)
  , @groupID int

AS
	insert into	tbl_Users (login, password, emailAddress, groupID)
				   values (@login, @password, @email, @groupID)
GO
/****** Object:  StoredProcedure [dbo].[createRightsForGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ====================================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-17
-- Description:	Creates a right entry for a given group
-- ====================================================
create PROCEDURE [dbo].[createRightsForGroup]
	@groupID int
  , @menuItemID int
  , @rights nvarchar(20)

AS
	insert into tbl_UserGroupRights (groupID, menuItemID, rights)
	select	@groupID, menuItemID, rights
	from	tbl_UserGroupRights
GO
/****** Object:  StoredProcedure [dbo].[createMenuItem]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-17
-- Description:	Creates a new menuItem
-- =============================================
CREATE PROCEDURE [dbo].[createMenuItem]
	@text nvarchar(50)
  , @parentID int
  , @orderNrInParent int
  , @pageName nvarchar(50)

AS
	-- insert new menu item
	declare @newItemID int;
	declare @adminGroupID int;
	
	insert into	tbl_MenuItems ([text], parentid, orderNrInParent, pagename)
					   values (@text, @parentID, @orderNrInParent, @pageName);

	set @newItemID = SCOPE_IDENTITY();
	
	-- give admins full rights
	set @adminGroupID = (select id from tbl_UserGroups where name = 'administrators');
	
	insert into	tbl_UserGroupRights (groupID, menuItemID, rights)
							 values (@adminGroupID, @newItemID, 11111);
						
	-- insert this item for all usergroups (except for admins), without rights
	DECLARE @groupID int;						 
	DECLARE @stdRights int;
	set @stdRights = '111010111';

	DECLARE MY_CURSOR CURSOR 
	  LOCAL STATIC READ_ONLY FORWARD_ONLY
	FOR 
		SELECT ID FROM dbo.tbl_UserGroups
		WHERE name <> 'administrators'

	OPEN MY_CURSOR
	FETCH NEXT FROM MY_CURSOR INTO @groupID
	WHILE @@FETCH_STATUS = 0
	BEGIN 
		INSERT INTO dbo.tbl_UserGroupRights (groupID, menuItemID, rights)
		VALUES (@groupID, @newItemID, @stdRights);
		FETCH NEXT FROM MY_CURSOR INTO @groupID
	END
	CLOSE MY_CURSOR
	DEALLOCATE MY_CURSOR
GO
/****** Object:  StoredProcedure [dbo].[createCopyOfGroup]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===================================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-17
-- Description:	Creates a copy of a usergroup
-- ===================================================
CREATE PROCEDURE [dbo].[createCopyOfGroup]
	@groupname nvarchar(50)
  , @groupToCopyID int

AS
	insert into	tbl_UserGroups (name)
						values (@groupname)
						
	declare @newID int = SCOPE_IDENTITY();
	
	insert into tbl_UserGroupRights (groupID, menuItemID, rights)
	select	@newID, menuItemID, rights
	from	tbl_UserGroupRights
	where	id = @groupToCopyID
GO
/****** Object:  StoredProcedure [dbo].[checkIfUserNameAlreadyExists]    Script Date: 04/12/2016 20:46:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Author:		Dennis Bellinkx
-- Create date: 2015-11-17
-- Description:	Checks if a username already exists
-- ================================================
CREATE PROCEDURE [dbo].[checkIfUserNameAlreadyExists]
	@login nvarchar(50)

AS
	select	id
	from	tbl_Users
	where	login = @login
GO
